/* styling for dummy data api */
 table{
    border: 1px solid white;
    border-radius: 4px;
    width: 1200px;
    }
    th{
        border-bottom: 1px solid white;
    }
  img{
    width: 50px;
    height: 50px;
  }
.zero{
    background-color: rgba(14, 12, 12, 0.904);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}